{% load static %}

<style>


  .left-yellow {
    position: fixed;
    top: 0;
    left: 0;
    width: 24%; /* Adjust to cover the desired percentage of the screen */
    height: 100%;
    background-color: #A9BBA6;
    z-index: -1; /* Ensure it stays behind other elements */
  }


  h2 {
    margin: 50px 0  30px 0;
  }

  .list-ic a {
    color: black;
    text-decoration: none;
	font-weight: 400;
	font-size: 19px;
	margin-left: 7px;
  }

  
  .list-ic li {
    position: relative;
  }

  .list-ic li span {
    display: inline-block;
    width: 45px;
    height: 45px;
	font-weight: 700;
    text-align: center;
    line-height: 2.5em;
    border-radius: 50%;
    background: black;
	border-style: solid;
	border-width: 2px;
	border-color: black;
    color: white;
    position: relative;
  }

  .list-ic li::before {
    content: '';
    position: absolute;
    background: black;
    z-index: -1;
  }


  .list-ic.vertical li {
    list-style-type: none;
  }

  .list-ic.vertical li span {
    margin: 1.1em 0;
  }
  .list-ic.vertical li::before {
    top: -17px;
    left: 21px;
    width: 2.3px;
    height: 34px;
  }

  .list-ic li:first-child::before {
    display: none;
  }


  .lis {
	  position: fixed;
	  top: 19%;
  }

  img {
    position: relative;
    top: 30px; /* Adjust as needed */
    left: 30px; /* Adjust as needed */
    width: 70px;
    height: 70px;
}

</style>

<img src="{% static 'images/kindpng_200151.png' %}" alt="Logo">

<div class="left-yellow"></div>


<div class="lis">
<ul class="list-ic vertical">
  <li>
    <span>1</span>
    <a href="#">Heading</a>
  </li>
  <li>
    <span>2</span>
    <a href="#">Work History</a>
  </li>
  <li>
    <span>3</span>
    <a href="#">Education</a>
  </li>
  <li>
    <span>4</span>
    <a href="#">Skills</a>
  </li>
  <li>
    <span>5</span>
    <a href="#">Summary</a>
  </li>


</ul>
</div>
